/*p {*/
/*    font-size: 2.2rem;*/
/*    line-height: 1.5;*/
/*    font-weight: 400;*/
/*    color: #065f46;*/
/*    font: italic 20px Georgia, serif;*/
/*}*/
/*h1 {*/
/*    color: #065f46;*/
/*    font: italic 30px Georgia, serif;*/
/*}*/
/* larrybuch.github.io */
body {
    font-family: "Source Code Pro", monospace;
    font-size: 22px;
    color: rgba(0,0,255,1);
    font-weight: 400;
    line-height: 1.4;
}
#container {
    padding: 5px;
}
a {
    background: white;
    color: blue;
    text-decoration: none;
    font-size: 12px;
}
span.date {
    margin-right: 11px;
}
#links p {
    text-indent: -117px;
    margin-left: 117px;
}
select {
    /*padding: 20px;*/
    background-color: rgba(0,0,255,1);
    border-radius: 30px;
    font-family: "Source Code Pro", monospace;
    font-size: 14px;
    color: white;
    margin-bottom: 40px;
    border-bottom:solid 15px transparent;
    border-left:solid 15px transparent;
    border-right:solid 15px transparent;
    border-top:solid 15px transparent;
    -webkit-appearance : caret;
}
/*Circle3,Wave {*/
/*    margin-bottom: 40px;*/
/*    margin-left: 140px;*/
/*    padding-left: 40px;*/
/*    background-color: red;*/
/*    display: none;*/
/*}*/